header {
    background-color:var(--accent);
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:60vh;
    text-align: left;
}

header span {
    font-family: var(--spanFont);
    font-size:1.5rem;
    margin:0px;
}

header button{
    background-color:#7ee5ba;
    font-family: var(--spanFont);
    font-size: 1.5rem;
}

.header-information {
    padding-right:1rem;
}
.header-img{
    max-height:100%;
    width:100%;
}