nav {
    background-color:var(--white);
    border-bottom:5px solid var(--accentborder);
    display:block grid;
    grid-template-columns: 1fr 5fr;
    height:5rem;
    justify-content: left;
    padding: .3rem;
    margin-bottom: 0px;
}

nav ul{
    display:grid;
    font-size:1.6rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-right:2rem;
    padding-left:0px;
    width:95%;
}

nav img{
    margin:0rem;
    margin-right:1rem;
    width:10rem;
}

Link {
    text-decoration: none;
}

Link:hover{
    color:var(--accent);
}

nav button{
    background-color: var(--accent);
    border-radius: 5px;
    border:none;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--white);
    font-size:1.6rem;
    letter-spacing: .1rem;
    padding:.5rem;
    padding-inline: 1rem;
    max-width:100%;
}

nav button:hover {
    background-color: var(--blue)
}

@media (max-width: 1050px) {
    nav ul{
        display:grid;
        font-size:1.4rem;
    }
    nav button{
        font-size:1.4rem;
    }
}

@media (max-width: 800px) {
    nav ul{
        display:grid;
        font-size:1.3rem;
        grid-template-columns: 1fr 1fr;
        justify-content: right;
        width:90%;
    }

    nav button{
        font-size:1.3rem;
        justify-self: right;
    }

    nav img{
        margin:.5rem;
        width:8rem;
  }

   .info {
    display:none;
   }
}


@media (max-width: 600px) {
    nav button{
        font-size:1rem;
        padding:.5rem;    
    }
}